#fighters{
	margin-top: 20px;
	margin-right: 30px;

}

#fightersDetails{

	margin-top: 20px;
}

#fighterTools{

	margin-top: 20px;
}

#image{

	margin-top: 20px;
	margin-bottom: 20px;
}

h1 {
color: grey;
}

tbody {
	color : green;
}