<?php $this->assign('title', 'Home Page')?>
<section class ="cadreprincipal">
<!-- <p>Bienvenu <?php echo $myname;?> dans WebArena</p>
<p>Best Fighter: <?php echo $bestFighter;?></p> -->

<h2>Bienvenu sur webarena</h2>
<h3> Jeu developpé par Alexandre DESCHAUME, Charles ANDRE, Gauhier LEONARD et Valentin CLUZEAU</h3>
<h4> Regles du jeu : </h4>
<p> njxqbsdifjbcndsjqnfjcknsqdkjfncjksqdncsd
dsqfjncjkqdsnjkclqds
cjqdkslcnjklqdsc
sqdcjnqsndcjknqsdjkcnqkjlsdc
cqdijsncjklqdnsjkl</p>
</section>